* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
}

#app-header li,
#app-footer li {
  font-size: medium;
}

.social-icons {
  font-size: x-large;
}

#app-financials {
  font-size: 1.5rem;
  padding: 40px;
  margin: 40px;
  border: solid 3px black;
}

#app-financials .app-chart {
  height: 100vh;
}

.chart-component-menu {
  background-color: transparent !important;
  padding-bottom: 10px;
}

.row-centered-col {
  justify-content: center;
}

.row-text-centered-col {
  text-align: center;
}

/* COMPONENTS */
/* header */
.header-right,
.footer-right {
  float: right;
}

/* footer */
.made-by-me {
  font-size: medium;
}

.buy-me-a-coffee {
  float: right;
}

.social-icons {
  float: right;
}

.social-icons a {
  margin: 10px;
}
